
body {
    background-color: rgb(179, 214, 226);
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;

}


h1,h2,h3 {
    color:#333;
}
section {
    margin: 115px;
}
table {
    width: 105%;
}
img {
    width: 700px;
    height: 950px;
}
.container{
            text-align: center;

        }

        img.banner{
            width: 100%;
            height: auto;
            display: block;
            margin: 0%;
            padding: 0%;


        }